server:
  port: 8080
  servlet:
    context-path: /gateway

spring:
  config:
    import: optional:file:./.env[.properties]
  application:
    name: gateway

jwt:
  secret: ${JWT_KEY}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}


management:
  endpoints:
    web:
      exposure:
        include: "*"