server:
  port: 8080

spring:
  config:
    import: optional:file:./.env[.properties]
  application:
    name: gateway

jwt:
  secret: ${JWT_KEY}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER}


management:
  endpoints:
    web:
      exposure:
        include: prometheus, health
  prometheus:
    metrics:
      export:
        enabled: true

alb:
  url: ${ALB_INTERNAL_DNS}
  user-port: ${USER_PORT}
  hub-port: ${HUB_PORT}
  order-port: ${ORDER_PORT}